# Python artifacts
__pycache__/
*.py[cod]
venv/

# Large data
static/images/
static/ipImages/
download_images.py
failed_urls.txt

# IDE settings
.vscode/

# Ignore bytecode files within DeepImageSearch
DeepImageSearch/__pycache__/
DeepImageSearch/*.pyc
